# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs
*.suo
*.psess
*.vsp
*.vspx
*.aps
*.ilk
*.iobj
*.ipdb
.vscode
/Debug
/Release

# Other Ide files
.idea

# Other files
*.log

# Compiled document files
_build
/doc/tutorial/_templates
/doc/tutorial/_build
/doc/tutorial/_static

bin
obj
lk