[
  {
    "name": "simnow",
    "type": "ctp",
    "broker_id": "9999",
    "product_info": "abcd",
    "trading_fronts": ["tcp://218.202.237.33:10002"]
  }
  ,{
   "name": "ks_test",
   "type":"kingstar",
   "broker_id":"0000",
   "product_info": "client_test",
   "auth_code": "000000",      
   "trading_fronts":["tcp://180.168.146.187:10100"]
  }, 
  {
    "name": "simnow724",
    "type": "ctp",
    "broker_id": "9999",
    "product_info": "abcd",
    "trading_fronts": ["tcp://180.168.146.187:10030"]
  }
]