[
  {
    "name": "135",  
    "bids": ["simnow","nhqhsopt","H宏源期货","H混沌天成"]
  },
  {
    "name": "136",   
    "bids": ["simnow","shzq","simsy","sp"] 
  },
  {
    "name": "137",   
    "bids": ["simnow","B渤海期货仿真","Z中财期货","D大陆期货"]  
  }
]