{
  "run_server":true,
  "max_new_cos_per_day":20,
  "max_valid_cos_all":50,
  "auto_start_ctp_time": [{"weekday":1,"timespan":[{"begin":850,"end":855},{"begin":2050,"end":2055}]},
  {"weekday":2,"timespan":[{"begin":850,"end":855},{"begin":2050,"end":2055}]},
  {"weekday":3,"timespan":[{"begin":850,"end":855},{"begin":2050,"end":2055}]},
  {"weekday":4,"timespan":[{"begin":850,"end":855},{"begin":2050,"end":2055}]},
   {"weekday":5,"timespan":[{"begin":850,"end":855},{"begin":2050,"end":2055}]}
  ],
  "auto_close_ctp_time": [{"weekday":1,"timespan":[{"begin":1535,"end":1540}]},
  {"weekday":2,"timespan":[{"begin":235,"end":240},{"begin":1535,"end":1540}]},
  {"weekday":3,"timespan":[{"begin":235,"end":240},{"begin":1535,"end":1540}]},
  {"weekday":4,"timespan":[{"begin":235,"end":240},{"begin":1535,"end":1540}]},
  {"weekday":5,"timespan":[{"begin":235,"end":240},{"begin":1535,"end":1540}]},
  {"weekday":6,"timespan":[{"begin":235,"end":240}]}
  ],
  "auto_restart_process_time":  [{"weekday":1,"timespan":[{"begin":855,"end":1530},{"begin":2100,"end":2359}]},
  {"weekday":2,"timespan":[{"begin":0,"end":230},{"begin":855,"end":1530},{"begin":2100,"end":2359}]},
  {"weekday":3,"timespan":[{"begin":0,"end":230},{"begin":855,"end":1530},{"begin":2100,"end":2359}]},
  {"weekday":4,"timespan":[{"begin":0,"end":230},{"begin":855,"end":1530},{"begin":2100,"end":2359}]},
  {"weekday":5,"timespan":[{"begin":0,"end":230},{"begin":855,"end":1530},{"begin":2100,"end":2359}]},
  {"weekday":6,"timespan":[{"begin":0,"end":230}]}
  ]
}
