{
  "host": "0.0.0.0",
  "port": 5566,
  "slaveNodeList":[
  {
    "name": "135",
    "host": "192.168.1.35",
    "port": "7788",
    "path": "/",
    "users": []   
  },
  {
    "name": "136",
    "host": "192.168.1.36",
    "port": "7788",
    "path": "/",
    "users": []   
  },
  {
   "name": "137",
    "host": "192.168.1.37",
    "port": "7788",
    "path": "/",
    "users": []   
  }
]
}